@{
    ViewData["Title"] = "Cadastro";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" id="idNome" placeholder="Nome">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Telefone">Telefone</label>
            <input type="text" class="form-control" id="idTelefone" placeholder="(XX) XXXXX-XXXX">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="RG">RG</label>
            <input type="text" class="form-control" id="idRG" placeholder="Digite o RG...">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Endereco">Endereco</label>
            <input type="text" class="form-control" id="idEndereco" placeholder="Digite o Endereco...">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" id="idEndereco" placeholder="Endereco">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>